<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/bg', null, {cache: !config.relative_link}) %>
  <div id="container">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div id="content">
      <% if (theme.toolbar && theme.toolbar === 'right'){ %>
        <div id="main">
          <%- body %>
        </div>
        <div id="toolbar">
          <%- partial('_partial/toolbar', null, {cache: !config.relative_link}) %>
        </div>
      <% } else if (theme.toolbar && theme.toolbar === 'left') { %>
        <div id="toolbar" class="toolbar-left">
          <%- partial('_partial/toolbar', null, {cache: !config.relative_link}) %>
        </div>
        <div id="main" class="main-right">
          <%- body %>
        </div>
      <% } else { %>
        <div id="main" class="no-tool-bar">
          <%- body %>
        </div>
      <% } %>
    </div>
    <% if (theme.totop) { %>
      <%- partial('_partial/totop', null, {cache: !config.relative_link}) %>
    <% } %>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>
  <%- js('js/jquery-3.2.1.min.js') %>
  <% if (theme.busuanzi) { %>
    <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <% } %>
  <%- js('js/jquery.fancybox.min.js') %>
  <%- js('js/highlight.pack.js') %>
  <%- js('js/Ani') %>
  <% if (theme.widgets.indexOf('search') > -1) { %>
    <%- js('js/search') %>
  <% } %>
</body>
</html>
