<div class="archive-date"><h3><%= page.tag %></h3></div>
<% page.posts.each(function(post){ %>
  <div class="archive-item">
    <div class="archive-item-date"><%- date(post.date, 'YYYY-MM-DD') %></div>
    <div class="archive-item-title">
      <a href="<%- url_for(post.path) %>"><%= post.title %></a>
    </div>
  </div>
<% }) %>
<% if (page.total > 1) { %>
  <div id="page-list">
    <%- paginator({prev_text: __('Prev'), next_text: __('Next')}) %>
  </div> 
<% } %>